.Name {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    

}

.Linie {
    border: 1px solid black;
    width: calc(100% - 1px);
    height: 100px;
    display: flex;
    flex-direction: row;
}


.Preis {
    border: 1px solid black;
    width: calc(50% - 1px);
    height: 100px;
}